<!-- <div class="body-container">
    <div>
        <div class="addClass">
            <button mat-raised-button color="primary" (click)="addUser(userDialog)">Add User</button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    No.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Name
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by place">
                    Place
                </th>
                <td mat-cell *matCellDef="let element"> {{element.place}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    Action
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" aria-label="Send Message" (click)="showChat(element)"
                        *ngIf="element.sendMsg">
                        <mat-icon>textsms</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div style="margin-top:73px">
        <app-user></app-user>
    </div>
</div> -->

<!-- <ng-template #userDialog>
    <h1 matDialogTitle>Add user</h1>
    <mat-dialog-content>
        <form #userForm="ngForm" (ngSubmit)="postUser()">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Id</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="user.id" #id="ngModel" required>
                    <div *ngIf="id.touched && id?.errors?.required" class="error-message">
                        The id is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required>
                    <div *ngIf="name.touched && name?.errors?.required" class="error-message">
                        The name is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Place</label>
                    <input type="text" class="form-control" name="place" [(ngModel)]="user.place" #place="ngModel"
                        required>
                    <div *ngIf="place.touched && place?.errors?.required" class="error-message">
                        The place is required.
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button mat-raised-button matDialogClose color="primary" type="submit"
                        [disabled]="!userForm.form.valid">Submit</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</ng-template> -->


<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="drawer">
        <div class="profile-container">
            <div><img src="../../assets/download.png" alt="Girl in a jacket" width="50" height="50"
                    style="border-radius:50px"></div>
            <div class="inner-details">
                <div class="user-name">Mahalakshmi</div>
                <div class="user-status">Love is God</div>
            </div>
            <div class="user-menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="see more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="member-container">
            <div *ngFor="let member of membersList" class="member-holder">
                <div *ngIf="member.sendMsg" class="member-details"  (click)="showChat(member)">
                    <div><img src="../../assets/images.png" alt="Girl in a jacket" width="50" height="50"
                            style="border-radius:50px"></div>
                    <div class="member-subdetails">
                        <div class="member-name">{{member.name}}</div>
                        <div class="member-status">{{member.place}}</div>
                    </div>
                </div>
                <hr *ngIf="member.sendMsg">
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content> <app-user></app-user></mat-drawer-content>
</mat-drawer-container>